div{
    text-align: center;
    border: 1px solid gray;
    padding: 20px;
    width: 70%;
    margin: 50px auto;
}
.button{
    width: 200px;
    height: 50px;
    margin: 20px;
}
.inputClass{
    height: 20px;
    width: 40%;
    text-align: center;
    margin: 2px;
}
table{
    width: 95%;
    border: 1px solid silver;
    margin: 20px auto;
    padding: 0;
}
th,tr{
    margin: 0;
    width: 12%;
    border: 1px solid silver;
    box-sizing: border-box;
}

